<div class="container">
    <h2 class="text-center m-4">Student details</h2>
    <div class="card-columns">
      <div class="card bg-info">
        <div class="card-header text-uppercase text-center">
            <h4>{{student.erno}}</h4>
        </div>
        <div class="card-body text-center">
          <img  [src]="student.profile" class="rounded-circle">  
          <h5 class="card-text">Name: {{student.name}}</h5>
          <h5 class="card-text">DOB: {{student.DOB}}</h5>
          <h5 class="card-text">Department: {{student.department}}</h5>
        </div>
      </div>
      
    </div>
  </div>
